<ng-container [ngSwitch]="type">

  <ng-container *ngSwitchDefault>
    <mat-form-field class="zeus-form-field">
      <input matInput [formControl]="control" class="zeus-field" [placeholder]="placeholder"
        [attr.maxLength]="maxLength">
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'textarea'">
    <mat-form-field class="zeus-form-field">
      <textarea matInput [formControl]="control" class="zeus-field" [rows]="rows"
        [placeholder]="placeholder"></textarea>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'cpf'">
    <mat-form-field class="zeus-form-field">
      <input matInput [formControl]="control" zeusCPF class="zeus-field" [placeholder]="placeholder"
        [attr.maxLength]="maxLength">
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'cnpj'">
    <mat-form-field class="zeus-form-field">
      <input matInput [formControl]="control" zeusCNPJ class="zeus-field" [placeholder]="placeholder"
        [attr.maxLength]="maxLength">
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'cep'">
    <mat-form-field class="zeus-form-field">
      <input matInput [formControl]="control" zeusCEP class="zeus-field" [placeholder]="placeholder"
        [attr.maxLength]="maxLength">
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'telefone'">
    <mat-form-field class="zeus-form-field">
      <input matInput [formControl]="control" zeusTelefone class="zeus-field" [placeholder]="placeholder"
        [attr.maxLength]="maxLength">
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'select'">
    <mat-form-field class="zeus-form-field">
      <mat-select [formControl]="control" class="zeus-field" [class.multiple]="multiple" [multiple]="multiple"
        [placeholder]="placeholder">
        <mat-option *ngFor="let option of options" [value]="option[value]">
          {{option[label]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>

  <ng-container *ngSwitchCase="'checkbox'">
    <div class="zeus-form-field">
      <mat-checkbox [formControl]="control" class="zeus-checkbox">
        {{label}}
      </mat-checkbox>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="'radio'">
    <mat-label class="zeus-label">{{label}}</mat-label>
    <div class="zeus-form-field">
      <mat-radio-group [formControl]="control" class="zeus-radio-group">
        <mat-radio-button class="zeus-radio-input" *ngFor="let option of options" [value]="option.value">
          {{option.label}}</mat-radio-button>
      </mat-radio-group>
    </div>

  </ng-container>

  <ng-container *ngIf="control?.errors && (control?.touched || group?.dirty)">

    <ng-content select=".error.error-required" *ngIf="control.errors.required"></ng-content>
    <ng-content select=".error.error-invalid" *ngIf="control.errors.pattern"></ng-content>

    <ng-content select=".error.error-cpf-digit" *ngIf="control.errors.digit"></ng-content>
    <ng-content select=".error.error-cpf-equal" *ngIf="control.errors.equalDigits"></ng-content>
    <ng-content select=".error.error-cpf-length" *ngIf="control.errors.length"></ng-content>

    <ng-content select=".error.error-cnpj-digit" *ngIf="control.errors.digit"></ng-content>
    <ng-content select=".error.error-cnpj-equal" *ngIf="control.errors.equalDigits"></ng-content>
    <ng-content select=".error.error-cnpj-length" *ngIf="control.errors.length"></ng-content>

  </ng-container>

  <ng-content select=".hint"></ng-content>


</ng-container>